@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Poppins:ital,wght@1,100&family=Roboto:wght@100&display=swap');



body{
    background-color:bisque
    
}

*{
    margin: 0;
    padding: 0;
}

nav{
font-family: 'Poppins', 'Roboto';

}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
    
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 42px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 75vh;
    
    color:black;
    font-family: 'Poppins',Roboto;
    display: flex;

}




.bottom{
   position: sticky;
   height: 130px;
   background-color: black; 
   color: white;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
  
   flex-direction: column;
   
}

.icons{
    
    color: white;
    margin-top: 34px;
    align-items: center;
  
}

.icons i{
    cursor: pointer;
}






#myProgressBar{
    width: 80vw;
   
   
}

